/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 5rem;
    background: gray;
}

section{
    padding: 4rem 0 2rem;
}

img{
    width: 100%;
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right: auto;
}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header.shadow{
    background: white;
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    transition: 0.5s ease;
}

header.shadow #search-icon{
    color: black;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: red;
    display: none;
}

.logo{
    font-size: 1.3rem;
    font-weight: 700;
    color: black;
}

.logo span{
        color: red  ;
}

.navbar{
    display: flex;
    column-gap: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.navbar a{
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover, 
.navbar .active{
    color: red;
    border-bottom: 3px solid red;
}

#search-icon{
    font-size: 24px;
    cursor: pointer;
    color: white;
}

.search-box{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    border: 1px solid red;
    border-radius: 0.5rem;
    clip-path: circle(0 at 100% 0%);
}
.search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.1s;
}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
}

.home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background-image: url(img/background-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

.home-text{
    padding-left: 130px;
}

.home-text h1{
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.home-text span{
    color: red;
}

.home-text p{
    font-size: 0.9rem;
    margin: 0.5rem 0 1.2rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn{
    padding: 10px 22px;
    background: red;
    color: white;
    font-weight: 400;
    border-radius: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 650;
    font-style: bold;
}

.btn:hover{
    background-color: #fd052f;
}

.s{
    text-align: center;
    color: red;
}


.promosi-video h1{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2rem;
    text-align: center;
    margin: 1.5rem;
}

.promosi-video p{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 2.5rem;
}

.slide{
    padding: 2rem;
}


.des {
    text-align: center;
    background-color: red;
}

.slider-warpper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    transition: 2s;
}

.slider-warpper h1{
    text-align: center;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2rem;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
    width: 100%;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #f6f6f6;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.heading{
    text-align: center;
}

.heading span{
    color: red;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.heading h2{
    padding: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;

}

.cars-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    margin-top: 2rem;
    padding-bottom: 6rem;
    margin-bottom: 1rem;
}

.cars-container .box{
    flex: 1 1 17rem;
    position: relative;
    height: 200px;
    border-radius: 0.5rem;
    overflow: hidden;  
}

.cars-container .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.cars-container .box img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.cars-container .box h2{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 1rem;
    background: grey;
    padding: 8px;
    text-align: center;
    border-radius: 0.5rem;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.About-title{
    display: flex;
    font-size: 50px;
    color: red;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.Profile-perusahaan {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 60px;
    margin-top: 60px;
    margin-left: 240px;
    gap: 50px;
}

.Profile-perusahaan .span{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Profile-perusahaan .p{
    font-family: "Lato", sans-serif;
    font-weight: 350;
    font-style: normal;
}

.about-img {
    flex: 1 1 40%;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    max-width: 75%;
    padding: 10px;
    box-sizing: border-box;
  }

.about-text {
    flex: 1 1 55%;
    padding: 10px;
    gap: 20px;
}

.about-text span{
    font-size: 30px;
    font-weight: bold;
}

.about-text p {
    margin-top: 40px;
    max-width: 70%;
}

.visi-misi {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 60px;
  }

.Visi {
    background-color: pink;
    padding: 30px;
    border-radius: 20px;
    width: 450px;
    height: 400px;
}
.Visi h3{
    font-size: 50px;
    text-align: center;
    margin-bottom: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.Visi p {
    text-align: center;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Misi {
    background-color: pink;
    padding: 30px;
    border-radius: 20px;
    width: 450px;
    height: 400px;
}

.Misi h3{
    font-size: 50px;
    text-align: center;
    margin-bottom: 80px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.Misi ul{
    font-size: 20px;
    margin-left: 40px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.Contact-Us h3{
    text-align: center;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}  

.contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    flex-wrap: wrap;
    gap: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.whatsapp {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-left: 240px;
}

.contact-info span{
    font-size: 30px;
    font-weight: bold;
    margin-right: 50px;
}

.email {
    width: 80px;
    height: 80px;
    display: inline-block;
    
}

.heading span{
    font-weight: 1000;
    font-size: 2.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.heading h2{
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.heading p{
    font-size: 1.1rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.parts-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    padding: 6rem;
    margin: 2rem;
}

.parts-container .box{
    flex: 1 1 25rem;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 230, 230);
    border-radius: 0.5rem;
}

.parts-container .box img{
    width: 100%;
    height: 150px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 1rem;
}

.parts-container .box h3{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;

}

.parts-container .box span{
    font-size: 1rem;
    font-weight: 600;
    color: red;
    margin-top: 0.5rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.parts-container .box .bx{
    margin: 0.8rem 0;
    font-family: "Lato", sans-serif;
    font-weight: 350;
    font-style: normal;
}

.parts-container .box .btn{
    max-width: 120px;
    background-color: red;
    color: #f6f6f6;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: "Lato", sans-serif;
    font-weight: 350;
    font-style: normal;
}

.parts-container .box .btn:hover{
    text-decoration: underline;
}

.parts-container .box .detail{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 2.9rem;
    right: 2rem;
    font-size: 1.2rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.parts-container .box .detail:hover{
    color:#fd052f;
    text-decoration: underline;
}

.showroom{
    max-width: 1300px;
    margin: auto;
}

.showroom h4{
    text-align: center;
    padding: 1rem;
    color: red;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.showroom h1{
    text-align: center;
    padding-bottom: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.showroom p{
    text-align: center;
    padding-bottom: 2%;
    font-style: italic;
    margin: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.showroom .showroom-container{
    display: flex;
    gap: 0px;
    height: 400px;
}

.showroom .container img{
    background-color: white;
    margin: 20px;
    width: 350px;
    height: 200px;
    border-radius: 10px;
}

.showroom .container h1{
    padding-top: 1.5rem;
    color: red;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.showroom .container p{
    font-style: normal;
    color: black;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.showroom h2{
    padding-top: 10rem;
    text-align: center;
    color: brown;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-style: normal;
    
}

.showroom-container a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: blue
}
.showroom-container a:hover{
    color: red;
}

.footer{
    background-color: pink;
    color: #f6f6f6;
    border-top: 2px solid black;
    max-width: 1300px;
    margin: auto; 
    margin-top: 2rem;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem ;
}

.footer-container .logo{
    margin-bottom: 1rem;
}

.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}

.social-media{
    display: flex;
    align-items: center;
    gap: 5px;
}

.social-media a{
    font-size: 24px;
    margin-right: 1rem;
}

.social-media a:hover{
    color: red;   
}

.footer-box h3{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: red;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.footer-box a, .footer-box p{
    color: black;
    margin-bottom: 10px;
}

.footer-box a:hover{
    color: red;
}

.copyright{
    text-align: center;
    padding: 20px;
    background-color: pink;
    font-size: 17px;
    max-width: 1300px;
    margin: auto;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}


@media screen and (max-width: 780px){
    .search-box input{
        padding: 15%;
    }
    .nav{
        padding: 10px 0;
    }
    #menu-icon{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: white;
        row-gap: 0.5rem;
        text-align: center;
        box-shadow: 4px 4px 20px rgb(15 54 55 / 20%);
        clip-path: circle(0% at 0% 0%);
        transition: 0.6s;
    }
    .navbar a{
        display: block;
        padding: 15px;
    }
    .navbar a:hover, .navbar .active{
        border-bottom: none;
        background: red;
        color: white;
    }
    .navbar.active{
        clip-path: circle(144% at 0% 0%);
    }
}